body{
    background-color: #95d4d6;
}
#wrapper{
    /* Places the position of the elemets included relative to the webpage */
    position: relative;
}
.columnbutton{
    /* The value for float moves everthing included in the cccclass leftwards as much as it can go */
    float: left;
    /* How much of the page it fills up */
    width: 25%;
    /* Sets the inset before the margin */
    padding: 0px;
}
.columnmov{
    float: left;
    width: 25%;
    padding: 0px;
}
.columntxt{
    float: right;
    width: 75%;
    padding: 0px;
}
/* Specifies what goes after the row */
.row:after {
    content: "";
    display: table;
    clear: both;  
}
h1{
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FEFFFF;
    text-align: center;
}
h2{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #17252A;
    text-align: left;
}
h3{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FEFFFF;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h4{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #17252A;
    text-align: center;
}
p{
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #17252A;
    text-align: center;
}
button{
    border: none;
    background-color: #17252A;
    color: #3AAFA9;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 45px;
    width: 100%;
    /* Specifies how long the animation that takes place between hover and not hover happens for */
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
/* Enacts when you hover over the button */
button:hover{
    background-color: #3AAFA9; 
    color: #17252A;
    border: 4px solid #17252A;
}
.viewbut{
    border: none;
    background-color: #17252A;
    color: #3AAFA9;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 45px;
    width: 100%;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
.viewbut:hover{
    background-color: #3AAFA9; 
    color: #17252A;
    border: 4px solid #17252A;
}
.topbut{
    display: none;
    position: fixed;
    bottom: 50px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    height: 50px;
    width: 50px;
    
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17252A;
    /* Attaches the footer to the bottom of the page even when scrolling */
    background-attachment: scroll;
    /* How often to update the position of the footer to the page */
    background-repeat: repeat;
}
.typebox{
    width: 158px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.typebox:focus{
    width: 60%;
}
.subbut{
    border: none;
    background-color: #17252A;
    color: #3AAFA9;
    text-align: center;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 40px;
    width: 250px;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
.subbut:hover{
    background-color: #3AAFA9; 
    color: #17252A;
    border: 4px solid #17252A;
}
.enterarea{
    float: left;
    width: 50%;
    padding: 0px;
}
.wrapper{
    text-align: center;
}
.homebut{
    border: none;
    background-color: #17252A;
    color: #3AAFA9;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    width: 100px;
    margin-right: 100%;
}